@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Pacifico|Fira+Sans&display=swap');
.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background: linear-gradient(to bottom,red,pink);
  width: 200px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  border-radius: 15px;
}
.location {
  text-align: center;
}

.country {
  font-family: 'Fira Sans',sans-serif;
  font-size: 1.1rem;
}

.city {
  font-family: 'Fira Sans',sans-serif;
  font-size: 1.6rem;
}

.temp{
  font-family: 'Fira Sans',sans-serif;
  font-size: 2rem;
}

.condition {
  font-family: 'Hammersmith One',sans-serif;
  font-size: 1.2rem;
}

.icon {
  width: 30%;
}